<div class="container">
  <h2>Register New Visitor</h2>
  <form>
    <div class="form-columns">
      <div class="column">
        <mat-form-field class="full-width">
          <mat-label>First Name</mat-label>
          <input
            matInput
            type="text"
            name="firstName"
            id="firstName"
            required
          />
        </mat-form-field>

        <mat-form-field class="full-width">
          <mat-label>Last Name</mat-label>
          <input matInput type="text" name="lastName" id="lastName" required />
        </mat-form-field>

        <mat-form-field class="full-width">
          <mat-label>ID Card</mat-label>
          <input matInput type="text" name="idCard" id="idCard" required />
        </mat-form-field>

        <mat-form-field class="full-width">
          <mat-label>Birthdate</mat-label>
          <input
            matInput
            [matDatepicker]="picker"
            name="birthdate"
            id="birthdate"
            required
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <mat-form-field class="full-width">
          <mat-label>Contact Number</mat-label>
          <input
            matInput
            type="tel"
            name="contactNumber"
            id="contactNumber"
            required
          />
        </mat-form-field>

        <mat-form-field class="full-width">
          <mat-label>Email</mat-label>
          <input matInput type="email" name="email" id="email" required />
        </mat-form-field>

        <mat-form-field class="full-width">
          <mat-label>Address</mat-label>
          <input matInput type="text" name="address" id="address" required />
        </mat-form-field>

        <mat-form-field class="full-width">
          <mat-label>Emergency Contact Name</mat-label>
          <input
            matInput
            type="text"
            name="emergencyContactName"
            id="emergencyContactName"
            required
          />
        </mat-form-field>
      </div>

      <div class="column">
        <mat-form-field class="full-width">
          <mat-label>Sex</mat-label>
          <mat-select name="sex" id="sex">
            <mat-option value="male">Male</mat-option>
            <mat-option value="female">Female</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="half-width">
          <mat-label>Height (cm)</mat-label>
          <input matInput type="number" name="height" id="height" />
        </mat-form-field>

        <mat-form-field class="half-width">
          <mat-label>Weight (kg)</mat-label>
          <input matInput type="number" name="weight" id="weight" />
        </mat-form-field>

        <mat-form-field class="half-width">
          <mat-label>City</mat-label>
          <input matInput type="text" name="city" id="city" required />
        </mat-form-field>

        <mat-form-field class="half-width">
          <mat-label>Province</mat-label>
          <input matInput type="text" name="province" id="province" required />
        </mat-form-field>

        <mat-form-field class="full-width">
          <mat-label>Emergency Contact Number</mat-label>
          <input
            matInput
            type="tel"
            name="emergencyContactNumber"
            id="emergencyContactNumber"
            required
          />
        </mat-form-field>
      </div>
    </div>

    <div class="button-container">
      <button mat-raised-button color="accent" (click)="goBack()">Back</button>

      <button mat-raised-button color="primary" type="submit">Register</button>
    </div>
  </form>
</div>
