<div class="container">
  <h2>Register New Visitor</h2>
  <form>
    <div class="form-columns">
      <div class="column">
        <mat-form-field class="full-width">
          <mat-label>First Name</mat-label>
          <input
            matInput
            type="text"
            name="firstName"
            id="firstName"
            required
            [(ngModel)]="visitorData.firstName"
          />
        </mat-form-field>

        <mat-form-field class="full-width">
          <mat-label>Last Name</mat-label>
          <input
            matInput
            type="text"
            name="lastName"
            id="lastName"
            required
            [(ngModel)]="visitorData.lastName"
          />
        </mat-form-field>

        <mat-form-field class="full-width">
          <mat-label>ID Card</mat-label>
          <input
            matInput
            type="text"
            name="idCard"
            id="idCard"
            required
            [(ngModel)]="visitorData.idCard"
          />
        </mat-form-field>

        <mat-form-field class="full-width">
          <mat-label>Birthdate</mat-label>
          <input
            matInput
            [matDatepicker]="picker"
            name="birthDate"
            id="birthDate"
            required
            [(ngModel)]="visitorData.birthDate"
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <mat-form-field class="full-width">
          <mat-label>Contact Number</mat-label>
          <input
            matInput
            type="tel"
            name="contactNumber"
            id="contactNumber"
            required
            [(ngModel)]="visitorData.contactNumber"
          />
        </mat-form-field>

        <mat-form-field class="full-width">
          <mat-label>Email</mat-label>
          <input
            matInput
            type="email"
            name="email"
            id="email"
            required
            [(ngModel)]="visitorData.email"
          />
        </mat-form-field>

        <mat-form-field class="full-width">
          <mat-label>Address</mat-label>
          <input
            matInput
            type="text"
            name="address"
            id="address"
            required
            [(ngModel)]="visitorData.address"
          />
        </mat-form-field>

        <mat-form-field class="full-width">
          <mat-label>Emergency Contact Name</mat-label>
          <input
            matInput
            type="text"
            name="emergencyContactName"
            id="emergencyContactName"
            required
            [(ngModel)]="visitorData.emergencyContactName"
          />
        </mat-form-field>
      </div>

      <div class="column">
        <mat-form-field class="full-width">
          <mat-label>Sex</mat-label>
          <mat-select
            name="sex"
            id="sex"
            required
            [(ngModel)]="visitorData.sex"
          >
            <mat-option value="male">Male</mat-option>
            <mat-option value="female">Female</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="half-width">
          <mat-label>Height (cm)</mat-label>
          <input
            matInput
            type="number"
            name="height"
            id="height"
            required
            [(ngModel)]="visitorData.height"
          />
        </mat-form-field>

        <mat-form-field class="half-width">
          <mat-label>Weight (kg)</mat-label>
          <input
            matInput
            type="number"
            name="weight"
            id="weight"
            required
            [(ngModel)]="visitorData.weight"
          />
        </mat-form-field>

        <mat-form-field class="half-width">
          <mat-label>City</mat-label>
          <input
            matInput
            type="text"
            name="city"
            id="city"
            required
            [(ngModel)]="visitorData.city"
          />
        </mat-form-field>

        <mat-form-field class="half-width">
          <mat-label>Province</mat-label>
          <input
            matInput
            type="text"
            name="province"
            id="province"
            required
            [(ngModel)]="visitorData.province"
          />
        </mat-form-field>

        <mat-form-field class="full-width">
          <mat-label>Emergency Contact Number</mat-label>
          <input
            matInput
            type="tel"
            name="emergencyContactNumber"
            id="emergencyContactNumber"
            required
            [(ngModel)]="visitorData.emergencyContactNumber"
          />
        </mat-form-field>
      </div>
    </div>

    <div class="button-container">
      <button mat-raised-button color="accent" type="button" (click)="goBack()">
        Back
      </button>
      <button
        mat-raised-button
        color="primary"
        type="button"
        (click)="registerVisitor()"
      >
        Register
      </button>
    </div>
  </form>
</div>
