<div class="container">
  <h2 class="title">Welcome to the Hospital</h2>
  <div class="menu-cards">
    <div class="menu-card print-queue" routerLink="/request-queue-number">
      <h3>Print Queue</h3>
      <p>Generate queue numbers for visitors.</p>
    </div>
    <div class="menu-card register" routerLink="/input-visitor-details">
      <h3>Register</h3>
      <p>Register new visitors.</p>
    </div>
    <div class="menu-card visitor-list" routerLink="/visitor-list">
      <h3>Visitor List</h3>
      <p>View the list of visitors.</p>
    </div>
  </div>
</div>

<!-- <div fxLayout="column" fxLayoutGap="8px">
  <button mat-raised-button style="background: slateblue" (click)="changePage('request-queue-number')"> Print Queue Number </button>
  <button mat-raised-button style="background: green" (click)="changePage('input-visitor-details')"> Input Visitor Details </button>
  <button mat-raised-button style="background: orange" (click)="changePage('visitor-list')"> Visitor List </button>
</div>
<div>
  <h1> TASKS </h1>
  <p>
    This task requires you to create an application to be used in a hospital. A "Customer Queue Management" for walk-in customer.

    -- FRONTEND - ANGULAR --
    This angular app includes a page to input visitors' details and a page to show a list of visitors' details.
    All 3 pages are still blanks thus you need to design and code from ground-up.
    <br>

    Some Example For Visitor Details :
    <br>
    Print Queue (You can Make A Pop Up / HTML Print Using Simple Database)
    <br>
    <img src="./assets/img/barcodelist.PNG" alt="logo" style="width:500px; height:500px;">
    <br>
    Input Visitor
    <br>
    <img src="./assets/img/inputdata.PNG" alt="logo" style="width:700px; height:500px;">
    <br>
    Visitor List
    <br>
    <img src="./assets/img/visitorlist.PNG" alt="logo" style="width:700px; height:500px;">
    <br>
    -- API --
    <br>
    You Can Install API using Node Express and create localdatabase for gathering the data.
    <br>
    -- Database --
    <br>
    You Must Create Database Using MongoDb
    <br>
    Happy Creating!
  </p>
</div> -->
